li {
  list-style: none;
  margin: 3px;
}

.main-top {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-top .bg {
  background-image: url(./images/blue-white-yellow-and-red-abstract-painting-1738434.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-container {
  background-color: rgba(255, 255, 255, .7);
  padding: 3vw;
  z-index: 1;
}

.scroll-menu {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 50px;
  overflow-x: scroll;
}
.card {
  margin: 3vw;
}

.card > .card-body > .card-text {
  font-size: small;
}

.app-body {
  background-color: seashell;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.button-container > div > p {
  margin: 1vw;
  display: inline-block;
  font-size: medium;
}

button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete {
  padding: 2vw;
}

.comment-card {
  border: 1px solid black;
  padding: 1vw;
  border-radius: 5px;
}